.main{
	width:200px;
	background-color:purple;
	border-color: green;
    border-style: solid;
    border-width: 0 0 0 5px;
}

.heading{
	padding:10px;
	font-size:20px;
	color:white;
	text-decoration:underline;
}